{% assign description = "Software developer" %}
<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	
<html lang="en"> 
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />	<!-- Force Latest IE rendering engine -->
    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    <link href="http://feeds.feedburner.com/yogiramchandani" rel="alternate" title="Yogi" type="application/atom+xml" /> 
    <link rel="shortcut icon" href="/static/images/favicon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

    <link rel="stylesheet" href="/static/css/style.css">

    <!--[if IE 7]>
      <script src="/static/css/font-awesome-ie7.css"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">	
      <div id='mobile' class='two columns hidden'>
        <ul>
          <li><a href='/'>Yogi</a></li>
          <li><span class="gray">Yogi Ramchandani</span></li>
          <li><a href="mailto:yogiramchandani@gmail.com" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Mobile', 'Sidebar Email']);">yogiramchandani@gmail.com</a></li>
          <li><a href="http://twitter.com/yogiramchandani" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Mobile', Sidebar Email']);">@yogiramchandani</a></li>
        </ul>
      </div>

      <div class="four columns sidebar">
        <section>
          
          <ul id="social">
            <li>
              <a href="mailto:yogiramchandani@gmail.com?subject=hi" class="icon-envelope-alt" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Email']);" title="Email me"></a>
            </li>

            <li>
              <a href="http://twitter.com/yogiramchandani" class="icon-twitter" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Twitter']);" title="I tawt I taw a puddy tat!" style="font-size: 28px;"></a>
            </li>

            <li>
              <a href="http://github.com/yogiramchandani" class="icon-github" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Github']);" title="Ia! Ia! Cthulhu Fhtagn!"></a>
            </li>
			
            <li>
              <a href="http://www.linkedin.com/pub/yogi-ramchandani/0/5a7/662" class="icon-linkedin" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar LinkedIn']);" title="LinkedIn"></a>
            </li>

            <li>
              <a href="http://feeds.feedburner.com/yogiramchandani" class="icon-rss" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar RSS']);" title="RSS"></a>
            </li>
          </ul>
          <ul id="me">
            <li><a href="/">Yogi Ramchandani</a></li>
            <li class="gray">{{ description }}</li>
          </ul>

        </section>
      </div>

      {{ content }}
    </div>

    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37550289-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html> 
